.App {
  text-align: center;
}

.Main_Body {
  width: 100%;
  height: 100px;
  display: flex;
  /* justify-content: space-between; */
}

.Detials {
  border-left: 6px solid red;
  padding-left: 2rem;
  padding-right: 2rem;
}

.DriveTrain {
  padding-right: 2rem;
  border-right: 5px solid blue;
  flex-grow: 3;
  /* margin-left: 20rem; */
  /* display: inline; */
}

/* Inside Drive Train Component */

.rearCogComponent {
  display: inline-block;
  padding: 2rem;
}

.frontCogComponent {
  display: inline-block;
  padding: 2rem;
}

/* Rear Cog Shifters */

.RearShifters {
  padding-top: 1rem;
}

.RearShiftDown {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

.RearShiftUp {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

/* Front Cog Shifters */
.FrontShifters {
  padding-top: 1rem;
}

.FrontShiftDown {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

.FrontShiftUp {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}
