.App {
  /* text-align: center; */
}

.Main_Body {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.DatailsSection {
  border-left: 2px solid red;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 20rem;
}

.DatailsSection > div {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.DriveTrain {
  padding-right: 2rem;
  /* border-right: 5px solid blue; */
  flex-grow: 3;
  /* margin-left: 20rem; */
  /* display: inline; */
}

.Red_semi {
  color: red;
  font-weight: 900;
}

.resetButton {
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
  width: 5rem;
  font-size: large;
  background-color: red;
  opacity: 0.6;
  color: aliceblue;
  -webkit-box-shadow: 6px 6px 11px 0px #000000;
  box-shadow: 6px 6px 11px 0px #000000;
}

.resetButton:hover {
  opacity: 1;
}

.ShifterButton {
  margin-top: 1rem;
  background-color: red;
  padding: 0.25rem 0.75rem;
  border-radius: 50%;
  border-style: ridge;
  font-size: x-large;
  cursor: pointer;
  color: cornsilk;
  text-align: center;
  opacity: 0.6;
  -webkit-box-shadow: 6px 6px 11px 0px #000000;
  box-shadow: 6px 6px 11px 0px #000000;
}

.ShifterButton:hover {
  opacity: 1;
}

.inputLabel {
  opacity: 0.6;
  border: solid 2px red;
  border-radius: 10px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  -webkit-box-shadow: 6px 6px 11px 0px #000000;
  box-shadow: 6px 6px 11px 0px #000000;
}

/* Title Header ************************************ */

.Title {
  padding: 1rem;
  font-size: 3rem;
  color: red;
  opacity: 0.6;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-bottom: 2px solid red;
}

/* Details Section ************************************ */

.DetailsTitle {
  padding: 0.5rem;
  font-size: xx-large;
  color: red;
  opacity: 0.6;
}

.Detail_item {
  padding: 1rem;
  border-top: 2px red solid;
}

/* Inside Drive Train Component ************************************ */

/* .Cogs_Section {
  display: inline-block;
} */

.rearCogComponent {
  width: auto;
  display: inline;
  padding: 2rem;
}

.frontCogComponent {
  display: inline;
  padding: 2rem;
}

.cadanceRpm {
  display: inline;
  width: auto;
  padding: 2rem;
}

/* Rear Cog Shifters ************************************  */

.RearCogComponent {
  grid-area: top;
}
.RearCog_Cog {
  grid-area: main;
}

.RearCog_Component {
  display: grid;
  grid-template-areas:
    "top "
    "main ";
  gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
  width: 20rem;
}

.RearCog_Component > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 15rem;
  padding-left: 2rem;
}

/* Front Cog Shifters ************************************ */

/* .FrontCog_Cog {
  width: 200px;
  height: 200px;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
} */

circle {
  animation-duration: 3s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

svg {
  /* border: 1px solid black; */
  /*   width: 20%; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

/* Crank RPM ************************************ */

.IncreaseCadance {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}
.DecreaseCadance {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

.Crank_Display_Rpm {
  grid-area: left;
}
.Crank_Display_Cog {
  grid-area: right;
}
.Crank_Display_Svg {
  grid-area: main;
}

.Crank_Component {
  display: grid;
  grid-template-areas:
    "left left right right"
    "main main main main ";
  gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
  width: 30rem;
}

.Crank_Component > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.CrankSvg {
  /* animation: rotation 8s infinite linear; */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Wheel Size Details ************************************ */

.Wheel_size_Details {
  padding: 1rem;
  border-top: 2px black solid;
}

.wheel_selection {
  margin-top: 2rem;
  width: 15rem;
}

/* Tyre Size Details ************************************  */

.Tyre_size_Details {
  padding: 1rem;
  border-top: 2px black solid;
}

.tyre_selection {
  margin-top: 2rem;
}
