.App {
  text-align: center;
}

.Main_Body {
  width: 100%;
  height: 100px;
  display: flex;
  /* justify-content: space-between; */
}

.DatailsSection {
  border-left: 2px solid red;
  padding-left: 2rem;
  padding-right: 2rem;
}

.DriveTrain {
  padding-right: 2rem;
  /* border-right: 5px solid blue; */
  flex-grow: 3;
  /* margin-left: 20rem; */
  /* display: inline; */
}

/* Title Header */
.Title {
  padding: 1rem;
  font-size: xx-large;
  color: black;
}

/* Details Section */
.DetailsTitle {
  padding: 1rem;
}

.Cogs_Display {
  padding: 1rem;
  border-top: 2px black solid;
}

.Gear_ratio {
  padding: 1rem;
  border-top: 2px black solid;
}

.Cadance_rpm_Datails {
  padding: 1rem;
  border-top: 2px black solid;
}

/* Inside Drive Train Component */

.rearCogComponent {
  display: inline-block;
  padding: 2rem;
}

.frontCogComponent {
  display: inline-block;
  padding: 2rem;
}

.cadanceRpm {
  display: inline-block;
  padding: 2rem;
}

/* Rear Cog Shifters */

.RearShifters {
  padding-top: 1rem;
}

.RearShiftDown {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

.RearShiftUp {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

/* Front Cog Shifters */
.FrontShifters {
  padding-top: 1rem;
}

.FrontShiftDown {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

.FrontShiftUp {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

/* .FrontCog_Cog {
  width: 200px;
  height: 200px;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
} */

circle {
  animation-duration: 3s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

svg {
  /* border: 1px solid black; */
  /*   width: 20%; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
/* Crank RPM */

.IncreaseCadance {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}
.DecreaseCadance {
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

.CrankSvg {
  /* animation: rotation 8s infinite linear; */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Wheel Size Details */

.Wheel_size_Details {
  padding: 1rem;
  border-top: 2px black solid;
}

.Tyre_size_Details {
  padding: 1rem;
  border-top: 2px black solid;
}
